/* App-wide styling */
body {
  background-color: #0f1116;
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
  font-size: 18px;
}

.app-container {
  display: block;
  max-width: 50em;
  margin: 0 auto;
  padding: 20px;
}

.attribute-set {
  display: flex;
  flex-direction: column;
  border: 5px solid #333;
  padding: 2em;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #1e2128;
}

.attribute-item {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}

.attribute-label {
  font-weight: bold;
  margin-right: 10px;
  align-self: center;
  flex: 1;
}

.string-input {
  flex: 1;
  width: 20em;
  border: 2px solid #555;
  border-radius: 4px;
  background-color: #2c2f36;
  color: #fff;
  font-size: 1em;
}
#open-file {
  font-size: 1em;
}
