/* App-wide styling */
body {
  background-color: #ffffff;
  color: #0f1116;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
  margin-top: 0px;
}

.menu {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
  background-color: #1f1f1f;
  padding: 8px;
}

.menu button {
  padding: 8px 15px;
  font-size: 0.8em;
  border: none;
  border-radius: 4px;
  background-color: #1f1f1f;
  color: #fff;
  cursor: pointer;
}

.menu button:hover {
  background-color: #333;
}

h4 {
  margin-bottom: 0.5em;
  margin-top: 0.8em;
}

.app-container {
  display: block;
  max-width: 50em;
  margin: 0 auto;
  padding: 10px;
  padding-top: 0;
}

nav {
  margin-bottom: 0.8em;
  margin-top: 0.8em;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #0f1116;
  font-weight: bold;
}

nav a:after {
  content: ">";
  margin-left: 10px;
}

.attribute-set {
  display: flex;
  flex-direction: column;
  border: 2px solid #aaa;
  padding: 2em;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #f0f0f0;
}

.attribute-item {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}

.attribute-label {
  font-weight: bold;
  margin-right: 10px;
  align-self: center;
  flex: 1;
}

.string-input {
  flex: 1;
  width: 20em;
  border: 1px solid #aaa;
  border-radius: 4px;
  background-color: #fff;
  color: #2c2f36;
  font-size: 1em;
}

.lambda-parameters {
  list-style-type: none;
  margin-top: 0.5em;
}

.expand-button {
  font-size: 1em;
}

.subpage-link {
  color: #2c2f36;
  background-color: #e0e0e0;
  border-radius: 10px;
  border: 3px solid #aaa;
  text-decoration: none;
  padding: 5px;
}

.lambda-parameters ul {
  list-style-type: none;
  display: flex;
  gap: 2em;
}

.expression-ui {
  position: relative;
  display: block;
}

.change-expression-type {
  position: absolute;
  top: 5px;
  right: 10px;
  opacity: 0.4;
  cursor: pointer;
}

.atom .change-expression-type {
  right: -15px;
}

.expression-type-menu {
  position: absolute;
  top: 25px;
  right: 10px;
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  list-style-type: none;
  z-index: 100;
}

.expression-type-menu li {
  padding: 8px 12px;
  cursor: pointer;
}
