/* App-wide styling */
body {
  background-color: #ffffff;
  color: #0f1116;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 20px;
  font-size: 16px;
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
  margin-top: 0px;
}

.app-container {
  display: block;
  max-width: 50em;
  margin: 0 auto;
  padding: 10px;
}

nav {
  margin-bottom: 20px;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #0f1116;
  font-weight: bold;
}

nav a:after {
  content: ">";
  margin-left: 10px;
}

.attribute-set {
  display: flex;
  flex-direction: column;
  border: 2px solid #aaa;
  padding: 2em;
  margin-bottom: 20px;
  border-radius: 8px;
  background-color: #f0f0f0;
}

.attribute-item {
  display: flex;
  margin-bottom: 15px;
  justify-content: space-between;
}

.attribute-label {
  font-weight: bold;
  margin-right: 10px;
  align-self: center;
  flex: 1;
}

.string-input {
  flex: 1;
  width: 20em;
  border: 1px solid #aaa;
  border-radius: 4px;
  background-color: #fff;
  color: #2c2f36;
  font-size: 1em;
}
#open-file {
  font-size: 1em;
}
#save-file {
  font-size: 1em;
}

.expand-button {
  font-size: 1em;
}

.subpage-link {
  color: #2c2f36;
  background-color: #e0e0e0;
  border-radius: 10px;
  border: 3px solid #aaa;
  text-decoration: none;
  padding: 5px;
}

.lambda-parameters ul {
  list-style-type: none;
}
